<html>
    <head>
        <meta charset="UTF-8">
        <title>Immigration and Japan's Demographic Crash</title>
        <link rel="stylesheet" href='/static/main.css' />
        <link rel="icon" type="image/x-icon" href="/static/favicon.jpeg" />
    </head>
    <body>
        <h1>Whoops! Something went wrong, apparently.</h1>
        <h3>Whatever page you tried to access doesn't exist.</h3>

        <footer>
            <span class="small"><p>Kevin Jin</p>
            <p>CB&B 634: Computational Methods for Informatics</p>
            <p>Yale University</p>
            <p><a href="mailto:kevin.jin@yale.edu">kevin.jin@yale.edu</a></p></span>
            <h3><a href="/">Back to homepage</a></h3>
        </footer>
    </body>
</html>