<html>
    <head>
        <meta charset="UTF-8">
        <title>NCI Cancer Incidence API</title>
        <link rel="stylesheet" href='/static/main.css' />
        <link rel="icon" type="image/x-icon" href="/static/favicon.jpeg" />
    </head>
    <body>
        <h2>State:</h2>
        <pre style="background-color: lightgray; margin-left: 5em">{{ state }}</pre>

        <h2>Age-Adjusted Incidence Rate (cases per 100,000):</h2>
        <pre style="background-color: lightgray; margin-left: 5em">{{ rate }}</pre>

        <footer>
            <b><p>Data is sourced from the <a href="https://statecancerprofiles.cancer.gov/incidencerates/index.php">National Cancer Institute</a>.</p></b>
            <br>
            <span class="small"><p>Kevin Jin</p>
            <p>CB&B 634: Computational Methods for Informatics</p>
            <p>Yale University</p>
            <p><a href="mailto:kevin.jin@yale.edu">kevin.jin@yale.edu</a></p></span>
            <h3><a href="/">Back to homepage</a></h3>
        </footer>
    </body>
    
</html>
