<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NCI Cancer Incidence API</title>
        <link rel="stylesheet" href='/static/main.css' />
    </head>
    <body>
        <h1>NCI Cancer Incidence API</h1>
        <h2>Please select a state:</h2>
        <div class="dropdown">
            <button onclick="dropdown" class="dropbtn">Select State</button>
            <div id="selectState" class="dropdown-content">
                {% for state in states %}
                <a href="/state/{{ state }}">{{ state }}</a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>