<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NCI Cancer Incidence API</title>
        <link rel="stylesheet" href='/static/main.css' />
    </head>
    <body>
        <h1>NCI Age-Adjusted Incidence of Cancer by State</h1>
        <h2>Enter a state to return its age-adjusted incidence rate:</h2>
        <form action="/info" method="POST">
            <textarea name="usertext" placeholder="Enter a state..."></textarea>
            <br>
            <br>
            <input type="submit" value="Analyze">
        </form>
        <footer>
            <b><p>Data is sourced from the <a href="https://statecancerprofiles.cancer.gov/incidencerates/index.php">National Cancer Institute</a>.</p></b>
            <br>
            <p>Kevin Jin</p>
            <p>CB&B 634: Computational Methods for Informatics</p>
            <p>Yale University</p>
            <p><a href="mailto:kevin.jin@yale.edu">kevin.jin@yale.edu</a></p>
          </footer>
    </body>
</html>